<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- CreateSearchStaxSolrCore ZooKeeper endpoint URL -->
      <!-- Only change if the endpoint for SOLR and ZooKeeper are different -->
      <!-- <setting name="ContentSearch.Solr.ZooKeeperServiceBaseAddress" value=""/> -->
    </settings>
    <pipelines>
      <initialize>
        <processor type="Svenkle.SitecoreSolrOnStartup.Initialize, Svenkle.SitecoreSolrOnStartup" patch:before="processor[@type='Sitecore.ContentSearch.SolrProvider.Pipelines.Loader.InitializeSolrProvider, Sitecore.ContentSearch.SolrProvider']"  />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>