<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Svenkle.SitecoreSolrOnStartup.Initialize, Svenkle.SitecoreSolrOnStartup" patch:before="processor[@type='Sitecore.ContentSearch.SolrProvider.Pipelines.Loader.InitializeSolrProvider, Sitecore.ContentSearch.SolrProvider']"  />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>